[color]
    diff = auto
    ui = true
	grep = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[user]
	name = Pawel Palucki
	email = pawel.palucki@intel.com

[core]
	excludesfile = ~/dotfiles/.gitignore_global

[alias]
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(blue)%an%Creset' --abbrev-commit -n 30 --no-merges
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(blue)%an%Creset' --abbrev-commit -n 30 
    st = status
    ci = commit
    d = difftool
    branches = branch -vv
    branchesall = branch -a -vv
    co = checkout
    ciam = commit -a -m
    ciav = commit -a --verbose
    cim = commit -m
    civ = commit --verbose
    ca = commit --amend
    caa = commit -a --amend
    unstash = stash pop
    mt = mergetool

[diff]
    tool = vimdiff 
	guitool = diffuse 

[merge]
	defaultToUpstream = true
	tool = fugitive
    options = --no-edit

[push]
	default = upstream

[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"

[github]
	user = ppalucki

; #[http]
	; proxy = http://proxy-jf.intel.com:911
; [https]
	; proxy = http://proxy-jf.intel.com:911
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[gitreview]
	username = pawel.palucki
