[gui]
	fontdiff = -family \"courier new\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	recentrepo = /home/ppalucki/tmp/foo4
	recentrepo = /home/ppalucki/workspace_rr/muzomedia

[color]
  diff = auto

[user]
	name = Pawel Palucki
	email = pawel.palucki@redefine.pl

[core]
	excludesfile = ~/.gitignore_global


[alias]
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(blue)%an%Creset' --abbrev-commit -n 30 --no-merges
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(blue)%an%Creset' --abbrev-commit -n 20 
  st = status
  ci = commit
  cim = commit -m
  d = difftool
  branches = branch -vv
  branchesall = branch -a -vv
  remotes = remote show origin
  co = checkout
  ciam = commit -a -m
  cim = commit -m
  unstash = stash pop
  stagingdiff = !comm -12 <(git branch --no-merged master) <(git branch --merged staging)
  mt = mergetool

[diff]
    tool = vimdiff 
	guitool = diffuse 

[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	main-window-view = HistoryView
	show-graph = true
	history-view-vpane-position = 439
	file-view-vpane-position = 565
	file-view-hpane-position = 285

[merge]
	defaultToUpstream = true
	tool = fugitive
    options = --no-edit

[push]
	default = upstream

[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	; trustExitCode = false
	keepBackup = false

[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[github]
	user = sacre
