snippet pre "pre" b
<pre>
${1}
</pre>
${2}
endsnippet

snippet sql "sql" b
<pre><code class="sql">
${1}
</code></pre>
${2}
endsnippet

snippet python "python" b
<pre><code class="sql">
${1}
</code></pre>
${2}
endsnippet
