[Unit]
Description=Redsocks proxy iptables Firewall rules

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c /home/ppalucki/proxy/kor-proxy.sh

[Install]
WantedBy=multi-user.target
RequiredBy=redsocks.service
